* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #333;
  transition: background-color 0.3s ease;
}

.container {
  background-color: #ffffff;
  padding: 60px 70px;
  border-radius: 25px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 750px;
  text-align: center;
  animation: fadeIn 1s ease-out;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 3.5rem;
  color: #2C7A4B;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
  line-height: 1.2;
}

input[type="text"] {
  width: 90%;
  padding: 18px 20px;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f9fafb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s all ease;
  color: #555;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  border-color: #2C7A4B;
  background-color: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

button {
  padding: 20px 45px;
  font-size: 1.5rem;
  background-color: #2C7A4B;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 30px;
  transform: scale(1);
  animation: buttonAppear 0.6s ease-in-out;
}

button:hover {
  background-color: #24863F;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(0) scale(1);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

#result {
  margin-top: 45px;
  display: none;
  text-align: left;
  color: #666;
  animation: slideUp 0.6s ease-out;
}

#result p {
  margin: 14px 0;
  font-size: 1.4rem;
  line-height: 1.8;
}

#result span {
  font-weight: 700;
  color: #333;
  font-size: 1.2rem;
}

#map {
  margin-top: 40px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes buttonAppear {
  0% {
      opacity: 0;
      transform: scale(0.95);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
